/*Body*/

body{
    margin: 0px;
    font-family: "Inter", sans-serif;
    background-color: gray;
    justify-content: center;
    display: flex;
}

/*Caja*/

.caja{
    background-color: white;
    width: 1400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


/*Title*/

.container{

    width: 650px;
}

/*Aplicante*/

.flex{
    display: flex;
}

/*Palabras*/

h1{
    font-size: 64px;
    font-style: normal;
    display: block;
    font-weight: 10;
}

p{
    font-size: 26px;
    display: block;
}

/*Button*/

button{
    background-color: black;
    color: #fff;
    padding: 18px 48px;
    border-radius: 16px;
    font-size: 18px;
}

/*Imagenes*/

img{
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
}

/*Galeria*/

.gallery{
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}