/*Body*/

body{
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: rgb(206, 203, 203);

}

/*Header*/

header {
    background-color: #333;
    color: #fff;
    padding-top: 5px;
    text-align: center;
}

header h1{
    color: white;
}

header p{
    color: white;   
    padding-bottom: 10px;
}
/*Contenidos-Header*/


/*Main*/
main{
    padding-left: 480px;
    padding-right: 480px;
    display: block;
    align-items: center;
}

/*Palabras*/

/*Flex*/

.flex{
    display: flex;
}

/*Containers*/

.container{
    background-color: rgb(255, 255, 255);
    border: solid;
    border-radius: 10px;
    width: 290px;
    height: 290px;
    margin: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: end;
    transition: 0.3s ease;
    overflow: clip;
}

.container p{
    font-size: 18px;

}

/*Gallery*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;
}

/*imagenes*/

.container img{
    width: 260px;
    height: 210px;
    border: solid rgb(109, 109, 109);
    object-fit: contain;
    border-radius: 10px;
}