/*body*/

body{
    margin: 100px;
    font-family: serif;
}

/*main*/

main{
    display: flex;
    justify-content: space-around;
}
/*Palabras*/

h1{
    font-size: 80px;
}

/*Buttons*/

button{
    margin-bottom: 100px;
    padding: 22px 44px;
    border-radius: 18px;
    font-size: 26px;
}

/*Texto-Apartado*/

.texto{
    width: 950px;
    margin-left: 20px;
}

.texto p{
    font-size: 30px;
    padding-right: 260px;
    color: rgb(79, 78, 78);
}


/*Separacion*/

.around{
    display: flex;
    gap: 20px;
}

/*Container*/

.container{
    justify-content: center;
    padding: 20px;
    display: flex;
    gap: 150px;
    border: solid;
    width: 900px;
    border-radius: 30px;
}

.container img{
    padding-top: 20px;
    width: 30px;
}

/*Column*/

.icon{
    flex-direction: column;
}

.icon p{
    width: 100px;
    font-size: 20px;
}

/*Imagenes*/

/*Positions*/

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/*IMG*/

.img{
    top: 220px;
}

/*Star*/

.absolute-star{
    position: absolute;
    top: 300px;
    left: 1280px;
}

.absolute-star-2{
    position: absolute;
    left: 1145px;
    top: 120px;
}

/*Stroke*/

.relative-stroke{
    bottom: 70px;
    right: 50px;
}

.relative-stroke-2{
    left: 210px;
    bottom: 370px;
}


/*Containers-image*/


/*Container-text-1*/

.absolute-container-position{
    position: absolute;
    top: 740px;
    left: 1150px;
}

.absolute-container{
    border: solid #685FD4;
    background-color: #685FD4;
    color: #fff;
    border-radius: 18px;
    font-size: 22px;
    padding-left: 35px;
    padding-right: 35px;
}

/*Container-text-2*/

.absolute-container-position-2{
    position: absolute;
    top: 270px;
    left: 1550px;
}

.absolute-container-2{
    border: solid #685FD4;
    background-color: #685FD4;
    color: #fff;
    border-radius: 18px;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

/*Box*/

.container-image{
    width: 500px;
}